body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3 {
  color: #0a3d62; /* Azul IUSH */
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0a3d62; /* Azul IUSH */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #07407a;
}